#navigator-toolbox {
  height: 26px;
}

#nav-bar {
  justify-content: space-between;
  width: calc(100% - 32px);
  height: 28px !important;
  flex-direction: row;
}

#PanelUI-button {
  /* position: absolute;
  left: 8.4rem;
  top: 2px; */
}

#urlbar-input {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center !important;
  padding: 0px 1rem;
  background-color: var(--urlbar-bgcolor) !important;
  border-radius: 4px;
}

#unified-extensions-button {
}

#urlbar-container {
  position: fixed !important;
  left: 50%;
  width: 1000px !important;
  top: 0;
  transform: translateX(-50%);
}

.titlebar-button {
  max-height: 26px !important;
}

.toolbarbutton-1 {
  height: 100% !important;
  top: 0;
  position: sticky;
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 2px !important;
}

#customizableui-special-spring1 {
  display: none !important;
}

.titlebar-buttonbox-container {
  width: 28px;
}

.titlebar-buttonbox-container .titlebar-buttonbox {
  height: 28px;
  width: 28px;
}

.titlebar-buttonbox-container .titlebar-buttonbox .titlebar-close {
  border-radius: 0 !important;
}

#nav-bar-customization-target {
  height: 100%;
}

#nav-bar-customization-target > toolbaritem {
  height: 28px !important;
}
