#nav-bar {
  flex: 1 1 0%;
  justify-content: space-between;
  width: calc(100% - 20rem);
  flex-direction: row-reverse;
}

#PanelUI-button {
  position: absolute;
  left: 11.25rem;
  top: 4px;
}

#urlbar-input {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center !important;
  padding: 0px 1rem;
  background-color: var(--urlbar-bgcolor) !important;
  border-radius: 4px;
}

#unified-extensions-button {
  position: absolute !important;
  left: 8.5rem;
  height: 34px !important;
}
