.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}
*/
*/
*/
*/
*/
*/
*/

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}

/* OLD STYLES
.bg{
  opacity: 1 !important;
}

.tab{
  padding-bottom: 90px;
}

.info{
  position: absolute;
  bottom: 45px !important;
  height: 40px;
}

.tab-url {display: none}

.ctrls{
  position: absolute !important;
  bottom: 0px;
}

.new-tab {height: 218px !important}

* {border-radius: 10px !important}
*/
*/
*/
*/
*/
*/
*/
*/
